html, body {
    overflow: hidden;
    margin: 0px;
    height: 100%;
}

body {
    display: flex;
    color: white;
    font-family: 'Segoe UI';
    min-height: 100%;
    height: 100%;
}

h1, h2 {
    margin: 0px;
}

h1 {

    // SQUARE SIZE
    
    font-size: 10.35vmin;

    // ---------------------------

    // STANDARD SIZE
    
    font-size: 12.5vmin;

    // ---------------------------

    // YOUTUBE SIZE

    font-size: 12.5vmin;
}

h2 {
    // SQUARE SIZE (Don't Change)

    font-size: 6.5vmin;

    // ----------------------------

    // STANDARD SIZE

    font-size: 8.25vmin;

    // ----------------------------

    // YOUTUBE SIZE

    font-size: 10vmin;
    






    font-weight: 600;
}

.background-img {
    position: absolute;
    width: 100%;
    transform: scale(1.15) translateY(0%) translateX(0%);
    filter: brightness(0.75);
    z-index: -99;
}

.elements {
    flex: 1;
    flex-direction: column;
    z-index: 99;
    display: flex;
    width: 100%;
    padding: 10vh;   
    justify-content: space-between;
}

.text {
    width: 80vw;
}

.logo {
    // position: fixed;
    // bottom: 10%;
    // left: 10%;
    filter: invert(1);
    width: 15vh;
}