html, body {
    overflow: hidden;
    margin: 0px;
    height: 100%;
}

body {
    display: flex;
    color: white;
    font-family: 'Segoe UI';
    min-height: 100%;
    height: 100%;
}

h1, h2 {
    margin: 0px;
}

h1 {

    // SQUARE SIZE
    
    font-size: 10.5vmin;

    // ---------------------------

    // STANDARD SIZE
    
    font-size: 13vmin;

    // ---------------------------

    // YOUTUBE SIZE

    // font-size: 14vmin;
}

h2 {
    // SQUARE SIZE (Don't Change)

    font-size: 7.5vmin;
    // font-size: 8.5vmin;

    // ----------------------------

    // STANDARD SIZE

    font-size: 9vmin;
    // font-size: 10vmin;

    // ----------------------------

    // YOUTUBE SIZE

    // font-size: 9.5vmin;
    // font-size: 10.5vmin;
    






    font-weight: 600;
}

.background-img {
    position: absolute;
    width: 100%;
    transform: scale(1.05) translateY(-20%) translateX(0%);
    filter: brightness(0.75) saturate(1);
    z-index: -99;
}

.elements {
    flex: 1;
    flex-direction: column;
    z-index: 99;
    display: flex;
    width: 100%;
    padding: 10vh;   
    justify-content: space-between;
}

.text {
    width: 80vw;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
        // font-style: italic;
        line-height: 0px;
    }
    h2 {
        // font-style: italic;
        font-weight: 700;
        line-height: 0px;
    }
    .logo {
        // position: fixed;
        // bottom: 10%;
        // left: 10%;
        filter: invert(1);
        width: 15vh;
    }
}
