// Variables
/// Colors
$color-main: #231f20;
$color-secondary: #fff;
$color-tertiary: #918F8F;
$color-accent: #DE3F28;
/// Spacing
$padding-ultralight: 1.25%;
$padding-ultralight-block: 0.5rem;
$padding-regular-inline: 7.5%;
$padding-light: 2.5%;
$padding-light-block: 0.75rem;
$padding-light-inline: 2.5%;
$padding-regular-block: 1rem; 
$padding-medium-const: 1.5rem;
$padding-ultramedium: 15%;
$padding-ultramedium-const: 2.25rem;
$padding-medium: 10%;
$padding-regular: 5%;
$padding-semiheavy: 20%;
$padding-semiheavy-const: 4.5rem;
$padding-heavy: 25%;
$padding-heavy-const: 5rem;
$padding-regular-const: 3rem;
/// Miscellaneous
$shadow-common: 0px 0px 32.5px 0px rgba(0, 0, 0, 0.15);
$font-common: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$radius: 1rem;
$radius-button: 100rem;
$icon-size: 3rem;

// Style

html, body {
    margin: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

a {
    text-decoration: none;
    color: $color-main;
    font-weight: 500;
}

p, li, h1, h2, h3, i, input, textarea, q, blockquote {
    color: $color-main;
    font-family: $font-common;
    font-size: 1.1rem;
}


h1, h2, li {
    font-family: $font-common;
    font-size: 2rem;
    text-align: center;
    margin-block: $padding-regular-block;
    // padding: $padding-light;
}

.light {
    color: $color-secondary;
}

.hidden {
    display: none;
}

h2, li {
    font-size: 1.5rem;
}

img {
    user-select: none;
}

nav {
    background-color: $color-secondary;
    padding-inline: $padding-regular-inline;
    padding-block: $padding-regular-block;
    box-shadow: $shadow-common;
    justify-content: space-between;
    display: flex;
    z-index: 99;
    // margin-bottom: $padding-regular-const;
    #logo {
        height: 2rem;
    }
    #hb-pages {
        display: flex;
        visibility: hidden;
        position: fixed;
        flex-direction: column;
        justify-content: space-between;
        width: calc(100% - ($padding-regular-inline * 2));;
        height: calc(100% - ($padding-heavy-const * 2));
        left: 0;
        top: 0;
        background-color: transparentize($color: $color-secondary, $amount: 0.25);
        backdrop-filter: blur(5px);
        z-index: -1;
        opacity: 0%;
        transition: 0.5s;
        padding-block: $padding-heavy-const;
        padding-inline: $padding-regular-inline;
    }
    #hb-pages.active {
        visibility: visible;
        display: flex;
        opacity: 100%;
    }
    @keyframes hbPages {
        0% {
            opacity: 0%;
        }
        100% {
            opacity: 100%;
        }
    }
    #hb {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        cursor: pointer;
        .hb-line {
            background-color: #231f20;
            height: 3px;
            border-radius: $radius-button;
            transition: all 0s ease;
            transition-delay: 0.125s;
        }
        transition: all 0s ease;
    }
    #hb.active {
        #hb1 {
            transform: rotate(45deg) translateY(0.525rem) translateX(0.525rem);
        }
        #hb2 {
            opacity: 0;
        }
        #hb3 {
            transform: rotate(-45deg) translateY(-0.525rem) translateX(0.525rem);
        }
    }
    @keyframes hamburger {
        0% {
            opacity: 100%;
        }
        50% {
            opacity: 0%;
        }
        // 25% {
        //     opacity: 0%;
        // }
        // 75% {
        //     opacity: 0%;
        // }
        100% {
            opacity: 100%;
            
        }
    }
    #pages {
        padding: 0;
        margin: 0;
        display: flex;
        width: 100%;
        align-items: flex-start;
        justify-content: flex-end;
        li {
            // padding-inline: $padding-light-inline;
            list-style: none;
            a {
                font-weight: bold;
            }
        }
    }
    #listen-nav {
        display: flex;
        justify-content: flex-end;
        position: relative;
        a {
            flex: 1;
            padding-inline: $padding-ultralight / 2;
            min-width: 2.5rem;
            max-height: 2.5rem;
            max-width: 2.5rem;
        }
        img {
            max-width: 2.5rem;
            max-height: 2.5rem;
        }
    }
}

div.gallery {
    display: flex;
    gap: $padding-regular-const;
    padding-block: $padding-heavy-const;
    justify-content: center;
    flex-wrap: wrap;
    padding-inline: $padding-regular-inline;
    flex-direction: row;
    // .episode {
    //     background-color: $color-tertiary;
    //     padding: $padding-medium-const;
    //     border-radius: $radius;
    //     aspect-ratio: 1/1;
    //     width: 20%;
    //     min-width: 17.5rem;
    //     max-width: 20rem;
    //     box-shadow: $shadow-common;
    //     background-size: cover;
    //     background-position: center;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: flex-start;
    //     justify-content: space-between;
    //     h2 {
    //         text-align: left;
    //     }
    // }
    .episode, .question {
        border-radius: $radius;
        // aspect-ratio: 3/4;
        width: 20%;
        min-width: 17.5rem;
        max-width: 20rem;
        box-shadow: $shadow-common;
        background-color: $color-secondary;
        align-items: stretch;
        .bg {
            width: 100%;
            aspect-ratio: 5/2;
            background-color: #727272;
            border-top-left-radius: $radius;
            border-top-right-radius: $radius;
            background-position: center;
            background-size: cover;
        }
        .body {
            padding: $padding-medium-const;
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            h2 {
                text-align: left;
            }
        }
        display: flex;
        flex-direction: column;
        .like {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                height: 2rem;
                width: 2rem;
                cursor: pointer;
            }
            .like-counter {
                margin: 0px;
            }
        }
    }
    .question {
        aspect-ratio: unset;
        padding: $padding-medium-const;
        .body {
            justify-content: flex-start;
            padding: 0;
        }
        .interactions {
            display: flex;
            max-height: 3.5rem;
            justify-content: space-between;
            align-items: center;
        }
    }
}
header {
    row-gap: 3rem;
    column-gap: 1rem;
    display: flex;
    padding: $padding-heavy-const $padding-semiheavy;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0px;
    flex-wrap: wrap;
    // h1, h2 {
    //     margin: 0px $padding-semiheavy;
    // }
    // .listening-locations {
    //     display: flex;
    //     margin-inline: $padding-medium;
    //     a {
    //         min-width: 2rem;
    //         margin-inline: $padding-ultralight-block;
    //     }
    //     img {
    //         filter: invert(1);
    //     }
    // }
    >div {
        flex:1;
    }
    .left {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .speakers {
        display: flex;
        // width: 6rem;
        img {
            width: 3rem;
            height: 3rem;
            aspect-ratio: 1/1;
            border-radius: 100rem;
            margin-left: -1rem;
            position: relative;
            border: 0.25rem $color-secondary solid;
        }
        :first-child {
            margin-left: auto;
        }
    }
    .details {
        display: flex;
        flex-direction: column;
        padding-inline: $padding-ultralight;
        min-width: 10rem;
        flex: 1;
        .info {
            display: flex;
            flex-wrap: wrap;
            flex: 1;
        }
        .names {
            font-weight: 600;
        }
        #episode {
            flex: 1;
        }
        #episode:before {
            content: "•";
            padding-inline: $padding-light-inline;
            text-align: center;
        }
        p {
            margin: 0px;
        }
    }
    .right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: $padding-regular-const;
    }
    // .listen {
    //     // margin-inline: $padding-regular-inline;
    // }
    .locations {
        display: flex;
        justify-content: flex-end;
        // flex: 1;
        a {
            min-width: 1.75rem;
            aspect-ratio: 1/1;
            margin-inline: $padding-light-inline;
            line-height: 0px;
        }
        img {
            filter: invert(0.2);
        }
    }
}

article {
    padding: $padding-heavy-const $padding-semiheavy;
    padding-top: $padding-regular-block;
    p {
        // text-indent: $padding-heavy-const;
        // padding-block: $padding-light-block;
        padding: $padding-light-block $padding-light-inline;
        line-height: $padding-ultramedium-const;
        margin: 0px;
    }
    h1 {
        margin-block: $padding-ultramedium-const;
    }
    h1, h2 {
        text-align: left;
        margin-bottom: 0px;
    }
    .speaker {
        width: $icon-size;
        border-radius: 100rem;
        position: relative;
        left: -4rem;
        bottom: -3rem;
        // left: $padding-ultramedium;
    }
    .interactions {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}

blockquote {
    margin: 0px;
    padding-inline: $padding-regular;
    padding-block: $padding-light-block;
    border-left: solid 2px grey;
    line-height: 2.25rem;
    cite {
        padding: 0px;
        margin: 0px;
        font-style: normal;
    }
    cite::before {
        content: "- ";
    }
    // font-style: italic;
}

.audioplayer {
    position: fixed;
    z-index: 99;
    bottom: 0;
    width: calc(100% - ($padding-regular * 2));
    display: flex;
    justify-content: center;
    box-shadow: $shadow-common;
    padding-inline: $padding-regular;
    border-top: solid 1px $color-tertiary;
    // padding-block: $padding-medium-const;
    // background-color: $color-secondary;
    // backdrop-filter: blur(20px) contrast(0.5) brightness(1.5);
    background-color: $color-secondary;
    align-items: center;
    transition: 0.3s ease;
    .play {
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        padding-block: $padding-regular-block;
    }
    .timestamp {
        width: 6rem;
        text-align: center;
    }
    .mid {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-inline: $padding-light-inline;
        margin-block: $padding-medium-const/1.25;
        flex-basis: 2rem;
        .midinfo {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            .txt {
                min-width: 50%;
                display: flex;
                gap: 0.35rem;
            }
        }
        h2, p {
            text-align: left;
            margin: 0px;
        }
        h2 {
            // line-height: 1.325rem;
        }
        p {
            line-height: 2.25rem;
        }
    }
    .scrub {
        margin-block: $padding-regular-block/1.25;
        background-color: $color-tertiary;
        width: 100%;
        height: 1rem;
        border-radius: 100rem;
        // border: 3px solid $color-main;
        .scrub-progress {
            background-color: $color-accent;
            height: 100%;
            width: 0%;
            border-radius: 100rem;
        }
    }
    .scrub:hover {
        opacity: 1;
    }
}
.audioplayer.inactive {
    transform: translateY(100%);
}

footer {
    background-color: $color-main;
    padding: $padding-regular;
    display: flex;
    flex-direction: column;
    p, h1, a {
        color: $color-secondary;
        text-align: center;
    }
    #body {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        div {
            display: flex;
            justify-content: center;
            flex-direction: column;
            min-width: 15rem;
            width: 20%;
            #logo {
                width: 100%;
                max-width: 20rem;
                user-select: none;
                pointer-events: none;
            }
            .socials {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                flex-wrap: wrap;
                a {
                    flex: 1;
                    padding: $padding-light;
                    min-width: 2.5rem;
                    max-height: 2.5rem;
                    max-width: 2.5rem;
                }
                img {
                    filter: invert(1);
                    max-width: 2.5rem;
                    max-height: 2.5rem;
                }
            }
            #pages {
                padding: 0;
                margin: 0;
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                li {
                    padding: $padding-light;
                    list-style: none;
                }
            }
        }
    }
    #copyright {
        margin-block: $padding-regular-block;
    }
}

.button, button, input[type="submit"] {
    border: none;
    background-color: $color-accent;
    font-family: $font-common;
    color: white;
    padding-inline: 2rem;
    padding-block: 0.5rem;
    border-radius: $radius-button;
    box-shadow: $shadow-common;
    margin-block: $padding-regular-block;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.unclickable, input[type=submit].unclickable {
    cursor: not-allowed;
    background-color: #727272;
    box-shadow: none;
    // user-select: none;
    pointer-events: none;
}

section#questions {
    margin: $padding-medium-const $padding-medium;
}

.question-ask {
    display: flex;
    flex-direction: column;
    border-radius: $radius;
    box-shadow: $shadow-common;
    padding: $padding-regular-block $padding-regular;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    border-radius: $radius;
    width: 100%;
    // border: 2px $color-tertiary solid;
    // box-shadow: $shadow-common;
    #name {
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
    }
    #question {
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
    }
}


input[type="text"], textarea {
    border: none;
    padding: $padding-light-block $padding-light;
    // margin: $padding-regular-block $padding-regular;
    font-family: $font-common;
    resize: vertical;
}

@media screen and (max-width: 825px) {
    .audioplayer {
        flex-wrap: wrap;
        .play {
            width: 2rem;
            height: 2rem;
        }
        .locations {
            display: none;
        }
        .txt {
            flex-direction: column
        }
        .mid {
            min-width: 75%;
            // margin-bottom: 0px;
        }
        .timestamp {
            position: fixed;
            // margin-top: 0px;
            right: 7.5%;
            bottom: 2.75rem;
        }
    }
    nav {
        #pages {
            justify-content: center;
        }
        #listen-nav {
            justify-content: center;
            a {
                padding-inline: $padding-regular-inline;
            }
        }
    }
    header {
        padding-inline: $padding-medium;
        .listening-locations {
            justify-content: center
        }
    }
    article {
        padding-inline: $padding-medium;
        .speaker {
            left: -0.5rem;
            transform: scale(0.75);
        }
    }
}

@media print {
    body, html {
        // margin-block: $padding-heavy-const;
        overflow: visible;
        display: block;
    }
    nav {
        justify-content: center;
        box-shadow: none;
        #pages {
            display: none;
        }
    }
    header {
        padding-block: $padding-light-block;
    }
    article {
        overflow: visible;
        display: block;
            // page-break-before: always;
        h1 {
            margin-top: 0px;
        }
        h1, h2, h3, p, i, b {
            // page-break-before: auto;
            // page-break-inside: avoid;
            
            // page-break-after: avoid;
            // break-inside: avoid;
        }
    }
    .button {
        display: none;
    }
    footer {
        // position: absolute;
        // display: block;
        // // height: 2rem;
        // width: 100%;
        // bottom: 0px;
        // padding: 0px;
        color: $color-tertiary;
        background-color: transparent;
        #body {
            display: none;
        }
        div, p {
            margin: 0px;
        }
    }
    header, article {
        padding-inline: $padding-light-inline;
        .left {
            width: 75%;
            flex: unset;
        }
        .right {
            display: none;
        }
    }
    .audioplayer {
        display: none;
    }
}