@charset "UTF-8";
html, body {
  margin: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

a {
  text-decoration: none;
  color: #231f20;
  font-weight: 500;
}

p, li, h1, h2, h3, i, input, textarea, q, blockquote {
  color: #231f20;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}

h1, h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-block: 1rem;
}

.light {
  color: #fff;
}

.hidden {
  display: none;
}

h2 {
  font-size: 1.5rem;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

nav {
  background-color: #fff;
  padding-inline: 7.5%;
  padding-block: 1rem;
  box-shadow: 0px 0px 32.5px 0px rgba(0, 0, 0, 0.15);
  display: flex;
}
nav #logo {
  height: 2rem;
}
nav #pages {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}
nav #pages li {
  padding-inline: 2.5%;
  list-style: none;
}

div.gallery {
  display: flex;
  gap: 3rem;
  padding-block: 5rem;
  justify-content: center;
  flex-wrap: wrap;
  padding-inline: 7.5%;
  flex-direction: row;
}
div.gallery .episode, div.gallery .question {
  border-radius: 1rem;
  width: 20%;
  min-width: 17.5rem;
  max-width: 20rem;
  box-shadow: 0px 0px 32.5px 0px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  align-items: stretch;
  display: flex;
  flex-direction: column;
}
div.gallery .episode .bg, div.gallery .question .bg {
  width: 100%;
  aspect-ratio: 5/2;
  background-color: #727272;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-position: center;
  background-size: cover;
}
div.gallery .episode .body, div.gallery .question .body {
  padding: 1.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
div.gallery .episode .body h2, div.gallery .question .body h2 {
  text-align: left;
}
div.gallery .episode .like, div.gallery .question .like {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.gallery .episode .like img, div.gallery .question .like img {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
div.gallery .episode .like .like-counter, div.gallery .question .like .like-counter {
  margin: 0px;
}
div.gallery .question {
  aspect-ratio: unset;
  padding: 1.5rem;
}
div.gallery .question .body {
  justify-content: flex-start;
  padding: 0;
}
div.gallery .question .interactions {
  display: flex;
  max-height: 3.5rem;
  justify-content: space-between;
  align-items: center;
}

header {
  row-gap: 3rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  display: flex;
  padding: 5rem 20%;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0px;
  flex-wrap: wrap;
}
header > div {
  flex: 1;
}
header .left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
header .speakers {
  display: flex;
}
header .speakers img {
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1/1;
  border-radius: 100rem;
  margin-left: -1rem;
  position: relative;
  border: 0.25rem #fff solid;
}
header .speakers :first-child {
  margin-left: auto;
}
header .details {
  display: flex;
  flex-direction: column;
  padding-inline: 1.25%;
  min-width: 10rem;
  flex: 1;
}
header .details .info {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
header .details .names {
  font-weight: 600;
}
header .details #episode {
  flex: 1;
}
header .details #episode:before {
  content: "•";
  padding-inline: 2.5%;
  text-align: center;
}
header .details p {
  margin: 0px;
}
header .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
header .locations {
  display: flex;
  justify-content: flex-end;
}
header .locations a {
  min-width: 1.75rem;
  aspect-ratio: 1/1;
  margin-inline: 2.5%;
  line-height: 0px;
}
header .locations img {
  filter: invert(0.2);
}

article {
  padding: 5rem 20%;
  padding-top: 1rem;
}
article p {
  padding: 0.75rem 2.5%;
  line-height: 2.25rem;
  margin: 0px;
}
article h1 {
  margin-block: 2.25rem;
}
article h1, article h2 {
  text-align: left;
  margin-bottom: 0px;
}
article .speaker {
  width: 3rem;
  border-radius: 100rem;
  position: relative;
  left: -4rem;
  bottom: -3rem;
}
article .interactions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

blockquote {
  margin: 0px;
  padding-inline: 5%;
  padding-block: 0.75rem;
  border-left: solid 2px grey;
  line-height: 2.25rem;
}
blockquote cite {
  padding: 0px;
  margin: 0px;
  font-style: normal;
}
blockquote cite::before {
  content: "- ";
}

.audioplayer {
  position: fixed;
  z-index: 99;
  bottom: 0;
  width: 90%;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 32.5px 0px rgba(0, 0, 0, 0.15);
  padding-inline: 5%;
  border-top: solid 1px #918F8F;
  background-color: #fff;
  align-items: center;
}
.audioplayer .play {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  padding-block: 1rem;
}
.audioplayer .timestamp {
  width: 6rem;
  text-align: center;
}
.audioplayer .mid {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-inline: 2.5%;
  margin-block: 1.2rem;
  flex-basis: 2rem;
}
.audioplayer .mid .midinfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.audioplayer .mid .midinfo .txt {
  min-width: 50%;
  display: flex;
  gap: 0.35rem;
}
.audioplayer .mid h2, .audioplayer .mid p {
  text-align: left;
  margin: 0px;
}
.audioplayer .mid p {
  line-height: 2.25rem;
}
.audioplayer .scrub {
  margin-block: 0.8rem;
  background-color: #918F8F;
  width: 100%;
  height: 1rem;
  border-radius: 100rem;
}
.audioplayer .scrub .scrub-progress {
  background-color: #DE3F28;
  height: 100%;
  width: 0%;
  border-radius: 100rem;
}
.audioplayer .scrub:hover {
  opacity: 1;
}

footer {
  background-color: #231f20;
  padding: 5%;
  display: flex;
  flex-direction: column;
}
footer p, footer h1, footer a {
  color: #fff;
  text-align: center;
}
footer #body {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
footer #body div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 15rem;
  width: 20%;
}
footer #body div #logo {
  width: 100%;
  max-width: 20rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
footer #body div .socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
footer #body div .socials a {
  flex: 1;
  padding: 2.5%;
  min-width: 3rem;
  max-height: 3rem;
  max-width: 3rem;
}
footer #body div .socials img {
  filter: invert(1);
  max-width: 3rem;
  max-height: 3rem;
}
footer #body div #pages {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer #body div #pages li {
  padding: 2.5%;
  list-style: none;
}
footer #copyright {
  margin-block: 1rem;
}

.button, button, input[type=submit] {
  border: none;
  background-color: #DE3F28;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  border-radius: 100rem;
  box-shadow: 0px 0px 32.5px 0px rgba(0, 0, 0, 0.15);
  margin-block: 1rem;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}

.unclickable, input[type=submit].unclickable {
  cursor: not-allowed;
  background-color: #727272;
  box-shadow: none;
  pointer-events: none;
}

section#questions {
  margin: 1.5rem 10%;
}

.question-ask {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0px 0px 32.5px 0px rgba(0, 0, 0, 0.15);
  padding: 1rem 5%;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  width: 100%;
}
.form #name {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.form #question {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

input[type=text], textarea {
  border: none;
  padding: 0.75rem 2.5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  resize: vertical;
}

@media screen and (max-width: 825px) {
  .audioplayer {
    flex-wrap: wrap;
  }
  .audioplayer .play {
    width: 2rem;
    height: 2rem;
  }
  .audioplayer .locations {
    display: none;
  }
  .audioplayer .txt {
    flex-direction: column;
  }
  .audioplayer .mid {
    min-width: 75%;
  }
  .audioplayer .timestamp {
    position: fixed;
    right: 7.5%;
    bottom: 2.75rem;
  }
  header {
    padding-inline: 10%;
  }
  header .listening-locations {
    justify-content: center;
  }
  article {
    padding-inline: 10%;
  }
  article .speaker {
    left: -0.5rem;
    transform: scale(0.75);
  }
}
@media print {
  body, html {
    overflow: visible;
    display: block;
  }
  nav {
    justify-content: center;
    box-shadow: none;
  }
  nav #pages {
    display: none;
  }
  header {
    padding-block: 0.75rem;
  }
  article {
    overflow: visible;
    display: block;
  }
  article h1 {
    margin-top: 0px;
  }
  .button {
    display: none;
  }
  footer {
    color: #918F8F;
    background-color: transparent;
  }
  footer #body {
    display: none;
  }
  footer div, footer p {
    margin: 0px;
  }
  header, article {
    padding-inline: 2.5%;
  }
  header .left, article .left {
    width: 75%;
    flex: unset;
  }
  header .right, article .right {
    display: none;
  }
  .audioplayer {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */