@font-face {
    font-family: Zin;
    src: url(/assets/fonts/Zin.otf);
}

@font-face {
    font-family: Rubik;
    src: url(/assets/fonts/Rubik-VariableFont.ttf);
    font-style: normal;
}

@font-face {
    font-family: Rubik;
    src: url(/assets/fonts/Rubik-Italic-VariableFont.ttf);
    font-style: italic;
}

@mixin headings {
    font-family: Zin;
    text-align: center;
}

@mixin text {
    font-family: Rubik;
}

$red: rgb(238, 0, 0);
$deep: #800000;
$slate: #2b2b2b;
h1,
h2 {
    @include headings;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

html,
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
}

header {
    background-color: $red;
    padding-inline: 6.25%;
    padding-block: 6.125%;
    color: white;
    background-size: cover;
}

p {
    @include text;
}

.red {
    color: $red;
}

#home-header {
    background-image: url(/assets/images/bible-at-ocean.jpg);
}