@font-face {
  font-family: Zin;
  src: url(/assets/fonts/Zin.otf);
}

@font-face {
  font-family: Rubik;
  src: url(/assets/fonts/Rubik-VariableFont.ttf);
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  src: url(/assets/fonts/Rubik-Italic-VariableFont.ttf);
  font-style: italic;
}

h1,
h2,
h3 {
  font-family: -apple-system, BlinkMacSystemFont, Zin, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

a {
  padding-inline: 0.25rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: -apple-system, BlinkMacSystemFont, Rubik, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  color: initial;
  font-size: 1.35rem;
  line-height: 2rem;
}

@media screen and (max-width: 30rem) {
  a {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}

html,
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px;
  width: 100%;
  overflow-x: hidden;
}

article,
section {
  padding-inline: 12.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  background-color: #ee0000;
  padding-inline: 6.25%;
  padding-block: 6.125%;
  padding-top: 10%;
  color: white;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, Rubik, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  color: initial;
  font-size: 1.35rem;
  line-height: 2rem;
  text-indent: 12.5%;
}

@media screen and (max-width: 30rem) {
  p {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}

nav {
  box-shadow: 0px 2px 35px -15px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0px 2px 35px -15px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 2px 35px -15px rgba(0, 0, 0, 0.46);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  padding-inline: 6.25%;
  background-color: white;
  width: 87.5%;
  height: 5%;
}

nav #logo {
  max-width: 12.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer {
  background-color: #2b2b2b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer h3,
footer p,
footer a {
  color: white;
}

footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5%;
}

footer #logo {
  width: 20%;
}

footer #elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer #elements > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5%;
}

footer #copyright {
  text-indent: 0%;
}

footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .socials a {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.img-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-link > img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.red {
  color: #ee0000;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
}

.socials a {
  aspect-ratio: 1/1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.socials #twitter {
  background-image: url(https://cdn-icons-png.flaticon.com/512/1384/1384017.png);
}

.socials #mail {
  background-image: url(https://cdn-icons.flaticon.com/png/512/3178/premium/3178158.png?token=exp=1648659441~hmac=84e0c0b875e03027aad72c2d02913a19);
}

.socials #yt {
  background-image: url(https://cdn-icons.flaticon.com/png/512/3669/premium/3669688.png?token=exp=1648659821~hmac=0b1c1ddb17109820579758f14e989911);
}

.card {
  box-shadow: 0px 2px 35px -15px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0px 2px 35px -15px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 2px 35px -15px rgba(0, 0, 0, 0.46);
  border-radius: 3rem;
  padding: 6.25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card #text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card #img {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card img {
  border-radius: 3rem;
  box-shadow: 0px 2px 35px -15px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0px 2px 35px -15px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 2px 35px -15px rgba(0, 0, 0, 0.46);
  min-width: 15rem;
  width: 100%;
  max-width: 20rem;
}

.gallery {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.gallery > div {
  margin: 2.5%;
  padding: 5%;
  box-shadow: 0px 2px 35px -15px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0px 2px 35px -15px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 2px 35px -15px rgba(0, 0, 0, 0.46);
  border-radius: 3rem;
  aspect-ratio: 1/1;
  min-width: 10rem;
  max-width: 15rem;
  width: 33%;
  height: 33%;
  background-size: cover;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.gallery > div h3,
.gallery > div h4 {
  margin: 0px;
}

.button {
  font-family: -apple-system, BlinkMacSystemFont, Rubik, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  color: initial;
  font-size: 1.35rem;
  line-height: 2rem;
  border-radius: 3rem;
  box-shadow: 0px 2px 35px -15px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0px 2px 35px -15px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 2px 35px -15px rgba(0, 0, 0, 0.46);
  background-color: #800000;
  color: white;
  padding: 1rem;
  padding-inline: 5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  margin-block: 2rem;
}

@media screen and (max-width: 30rem) {
  .button {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}

.button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.bg-holder#godtext {
  background-image: url(/assets/images/stock/GodText.jpg);
}

.bg-holder#sunsettree {
  background-image: url(/assets/images/stock/SunsetTree.jpg);
}

#home-header {
  background-image: url(/assets/images/bible-at-ocean.jpg);
}

@media screen and (max-width: 30rem) {
  h1 {
    font-size: 3.15rem;
    margin-block: 10%;
  }
  h2 {
    font-size: 2.75rem;
    margin-block: 7.5%;
  }
  h3 {
    font-size: 1.5rem;
    margin-block: 5%;
  }
  .button {
    padding-inline: 3rem;
  }
}
/*# sourceMappingURL=main.css.map */