@font-face {
    font-family: Zin;
    src: url(/assets/fonts/Zin.otf);
}

@font-face {
    font-family: Rubik;
    src: url(/assets/fonts/Rubik-VariableFont.ttf);
    font-style: normal;
}

@font-face {
    font-family: Rubik;
    src: url(/assets/fonts/Rubik-Italic-VariableFont.ttf);
    font-style: italic;
}

@mixin headings {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Zin, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-align: center;
    @media screen and (max-width: 35rem) {
        text-align: left;
        line-height: 2.5rem;
    }
}

@mixin text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Rubik, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-decoration: none;
    color: initial;
    font-size: 1.35rem;
    line-height: 2rem;
    @media screen and (max-width: 35rem) {
        font-size: 1rem;
        line-height: 1.6rem;
    }
}

@mixin outer-shadow {
    box-shadow: 0px 2px 35px -15px rgba(0, 0, 0, 0.46);
    -webkit-box-shadow: 0px 2px 35px -15px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 2px 35px -15px rgba(0, 0, 0, 0.46);
}

@mixin inner-shadow {
    box-shadow: 0px 2px 35px -15px rgba(0, 0, 0, 0.46) inset;
    -webkit-box-shadow: 0px 2px 35px -15px rgba(0, 0, 0, 0.46) inset;
    -moz-box-shadow: 0px 2px 35px -15px rgba(0, 0, 0, 0.46) inset;
}

@mixin default-background {
    background: rgb(128, 0, 0);
    background: linear-gradient(45deg, rgba(128, 0, 0, 1) 0%, rgba(193, 24, 24, 1) 100%);
}

@mixin radius {
    border-radius: $radius;
}

// Variables
///// Color
$main: #fff;
$accent: #800000;
$gray: #787878;
$dark: #2b2b2b;
///// Components
$radius: 1.25rem;
// Styling
h1,
h2,
h3 {
    @include headings;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.8rem;
    margin: 0px;
    // margin-block: 7.5%;
}

h3 {
    font-size: 1.3rem;
    margin-block: 5%;
    line-height: 2rem;
}

a {
    padding-inline: 0.25rem;
    flex: 1;
    @include text;
}

html,
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    overflow-x: hidden;
}

article,
section {
    padding-inline: 12.5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .id {
        width: 100%;
        .author#matt-round {
            min-height: 5rem;
            max-height: 5rem;
            min-width: 5rem;
            max-width: 5rem;
            border-radius: 100%;
            background-image: url(/assets/images/pastor-matt.jpg);
            background-position: center;
            background-size: cover;
            margin: 1.5625%;
        }
        .info {
            h3 {
                margin: 0;
            }
        }
        display: flex;
        align-items: center;
    }
}

header {
    background-color: $accent;
    padding-inline: 6.25%;
    padding-block: 6.125%;
    padding-top: 10%;
    color: white;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

p {
    @include text;
    text-indent: 12.5%;
}

q {
    @include text;
    color: $gray;
    text-align: left;
    width: 87.5%;
    border-left: 2px solid $gray;
    padding: 3.125%;
    quotes: none;
}

nav {
    @include outer-shadow();
    z-index: 99;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-inline: 6.25%;
    background-color: white;
    width: 87.5%;
    height: 5%;
    #logo {
        max-width: 12.5rem;
        flex: 1;
    }
    #burger {
        display: none;
        width: 2rem;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        cursor: pointer;
        div {
            margin: 2%;
            height: 10%;
            width: 100%;
            background-color: #2b2b2b;
        }
    }
}

footer {
    background-color: $dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 5%;
    h3,
    p,
    a {
        color: white;
    }
    >div {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 5%;
        width: 100%;
        >div {
            padding-inline: 2.5%;
        }
    }
    #logo {
        min-width: 15rem;
        width: 20%;
        max-width: 20rem;
    }
    #newsletter {
        display: flex;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 15rem;
    }
    #navigation {
        min-width: 15rem;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #copyright {
        text-indent: 0%;
    }
    #form {
        display: flex;
        align-items: center;
        input {
            padding-block: 12%;
            border-top-right-radius: 0rem;
            border-bottom-right-radius: 0rem;
            min-width: 100%;
            flex: 1;
        }
        button {
            margin: 0px;
            padding-inline: 1.5rem;
            border-top-left-radius: 0rem;
            border-bottom-left-radius: 0rem;
        }
    }
    .socials {
        display: flex;
        a {
            filter: invert(1);
        }
    }
}

#newsletter {
    margin-block: 6.25%;
}

#resources {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    padding-inline: 3.125%;
    padding-block: 3.125%;
    @include inner-shadow();
    >div {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-evenly;
        margin-block: 3.125%;
        div {
            width: 100%;
            max-width: 10rem;
            display: flex;
            flex-direction: column;
            margin-inline: 3.125%;
            margin-block: 3.125%;
            img {
                @include outer-shadow();
                min-width: 100%;
                max-width: 100%;
            }
        }
    }
}

.newsletter {
    display: flex;
    width: 75%;
    max-width: 30rem;
    margin-block: 3.125%;
    input,
    button {
        padding-block: 3.125%;
    }
    input {
        position: relative;
        width: 100%;
        @include text();
        left: 5%;
        border-width: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        @include outer-shadow()
    }
    button {
        @include outer-shadow();
        display: block;
        position: relative;
        min-width: fit-content;
        width: 30%;
        right: 5%;
        padding-inline: 6.25%;
        margin: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}

#questions {
    margin-block: 6.25%;
    padding: 0px;
}

form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

input {
    border-width: 0.1rem;
    border-color: $gray;
    border-style: solid;
    border-radius: 3rem;
    padding: 8%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Rubik, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.2rem;
    flex: 1;
}

textarea {
    border-width: 0.1rem;
    border-color: $gray;
    border-style: solid;
    border-radius: 2rem;
    width: 93.75%;
    padding: 3.125%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Rubik, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.2rem;
}

.panel {
    @include outer-shadow();
    @include radius();
    width: 87.5%;
    padding: 6.25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $main;
    form {
        row-gap: 2rem;
        column-gap: 2rem;
        textarea {
            resize: vertical;
        }
    }
    input {
        min-width: 15rem;
        width: 41.795%;
        padding: 3.125%;
    }
    button {
        margin: 0px;
    }
}

.draft {
    display: none;
}

.real-article {
    padding-block: 6.25%;
    h2 {
        margin-block: 3.125%;
    }
    h3 {
        text-align: left;
        width: 100%;
        margin: 0px;
    }
}

.input-wall {
    width: 87.5%;
    max-width: 150rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-inline: 6.25%;
    a {
        flex: unset;
        font-size: 1.5rem;
    }
    div {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-block: 6.25%;
        img {
            padding: 0.125rem;
            width: 1rem;
            height: 1rem;
        }
    }
    form {
        width: 80%;
        input {
            padding: 3.125%;
        }
    }
}

.img-link {
    display: flex;
    justify-content: center;
    >img {
        flex: 1;
    }
}

.red {
    color: $accent;
}

.top {
    margin-top: 8%;
}

.socials {
    display: flex;
    width: 75%;
    a {
        aspect-ratio: 1/1;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    #twitter {
        background-image: url(/assets/icons/twitter.png);
    }
    #mail {
        background-image: url(/assets/icons/mail.png);
    }
    #yt {
        background-image: url(/assets/icons/youtube.png);
    }
}

.card {
    @include outer-shadow;
    @include radius();
    padding: 6.25%;
    display: flex;
    flex-wrap: wrap;
    div {
        flex: 1;
        padding: 2.5%;
        display: flex;
        justify-content: center;
    }
    #text {
        flex-direction: column;
    }
    #img {
        flex-direction: row;
        align-items: center;
    }
    img {
        @include radius();
        @include outer-shadow;
        min-width: 15rem;
        width: 100%;
        max-width: 20rem;
    }
}

.gallery {
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    >div {
        >div {
            width: 100%;
        }
        h2,
        h3,
        time {
            width: 100%;
            margin: 0px;
            text-align: left;
        }
        align-items: center;
        margin: 2.5%;
        // padding: 5%;
        padding: 3.125rem;
        @include outer-shadow();
        @include radius();
        min-width: 13rem;
        max-width: 15rem;
        background-size: cover;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

#episodes#main {}

button.icon {
    background-color: transparent;
    box-shadow: none;
    display: block;
    padding: 0px;
    margin: 0px;
    width: 20%;
    img {
        width: 100%;
    }
}

time {
    @include text();
    text-align: center;
    font-size: 1rem;
    color: $gray;
}


/*
.glide__slides.gallery {
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    >li>div {
        h2,
        h3 {
            margin: 0px;
            color: white;
        }
        margin: 5%;
        padding: 5%;
        @include outer-shadow();
        @include radius();
        aspect-ratio: 1/1;
        //min-width: 10rem;
        //max-width: 15rem;
        //width: 33%;
        height: 33%;
        background-size: cover;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end
    }
}
*/

.glide__arrow {
    width: 8%;
    min-width: 7rem;
    margin-block: 0.5rem;
    box-shadow: none;
    position: absolute;
    display: block;
    top: 50%;
    z-index: 2;
    color: white;
    text-transform: uppercase;
    padding: 9px 12px;
    background-color: transparent;
    opacity: 1;
    cursor: pointer;
    transition: opacity 150ms ease, border 300ms ease-in-out;
    transform: translateY(-50%);
    line-height: 1;
    border: none;
    img {
        width: 100%;
    }
}

.glide__arrow--left {
    left: 2.5%;
}

.glide__arrow--right {
    right: 2.5%;
}

.glide__bullets {
    bottom: -5%;
    filter: invert(1);
}

.unpadded {
    padding: 0px;
}

.cast {
    @include outer-shadow();
    @include default-background();
    @include radius();
    display: flex;
    flex-direction: column;
    padding: 6.25%;
    margin-inline: 12.5%;
    // align-items: center;
    // gap: 15rem;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    gap: 15rem;
    align-items: center;
    div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    h1,
    h2,
    h3 {
        text-align: left;
        color: white;
        margin: 0px;
    }
    .button {
        margin: 0px;
    }
}

.last {
    h1,
    h2,
    h3 {
        text-align: center
    }
}

.blank {
    @include default-background();
}

.button.alt {
    background-color: $main;
    color: $dark;
}

button,
.button {
    border: none;
    @include text;
    @include radius();
    @include outer-shadow();
    background-color: $accent;
    color: white;
    padding: 1rem;
    padding-inline: 5rem;
    user-select: none;
    transition: all 0.1s;
    margin-block: 2rem;
    border-radius: 25rem;
    display: flex;
    text-align: center;
    justify-content: center;
    max-height: 5rem;
    align-items: center;
}

button,
.button:hover {
    filter: saturate(1.2);
    // padding-inline: 5.5rem;
}

button,
.button.alt:hover {
    filter: brightness(0.9);
}

button,
.button.alt:active {
    filter: brightness(0.7);
}

button,
.button:active {
    filter: saturate(0.8);
}

.bg-holder#bible-ocean {
    background-image: url(/assets/images/bible-at-ocean.jpg);
}

.bg-holder#godtext {
    background-image: url(/assets/images/stock/GodText.jpg);
}

.bg-holder#sunsettree {
    background-image: url(/assets/images/stock/SunsetTree.jpg);
}

.panel.horizontal {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#about {
    margin-block: 6.25%;
    margin-inline: 3.125%;
}

.about {
    div,
    img {
        @include radius();
        width: 45%;
        margin-inline: 3.125%;
        flex: 1;
        margin-block: 3.125%;
    }
    img {
        max-width: 20rem;
    }
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        .button {
            margin: 0px;
        }
    }
}

.banner {
    background-position: center;
    background-size: cover;
    padding: 6.25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    img,
    div {
        margin-inline: 3.125%;
    }
}

.banner#topic {
    @include inner-shadow();
    background-image: url(/assets/images/bible-at-ocean.jpg);
    padding-block: 10%;
    display: flex;
    flex-wrap: wrap;
    img,
    div {
        margin-block: 6.25%;
    }
    img {
        min-width: 20rem;
        width: 30%;
        max-width: 22.5rem;
        filter: invert(1);
    }
    .panel {
        width: 35%;
        min-width: 20rem;
        padding: 3.125%;
    }
}

#form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 5%;
    div {
        flex: 1;
        display: flex;
    }
    input {
        padding: 6%;
    }
    button {
        position: relative;
        left: -10%;
        padding-inline: 6.25%;
    }
}

#home-header {
    background-image: url(/assets/images/bible-at-ocean.jpg);
}

@media screen and (max-width: 35rem) {
    h1 {
        font-size: 2.45rem;
        margin: 6.25%;
        //margin-block: 10%;
    }
    h2 {
        font-size: 1.8rem;
        margin: 0px;
        // margin-block: 7.5%;
    }
    h3 {
        font-size: 1.3rem;
        margin-block: 5%;
        line-height: 2rem;
    }
    .button {
        font-size: 1.35rem;
    }
    section,
    article {
        padding: 0px;
        padding-inline: 6.25%;
    }
    nav {
        #pages {
            position: absolute;
            right: 0;
            top: 100%;
            background-color: $main;
            height: 875%;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            justify-content: space-around;
            transform: translateX(100%);
            transition: all 0.2s ease-in-out;
            a {
                max-height: 2rem;
                font-size: 2rem;
            }
        }
        #burger {
            display: flex;
            div {
                transition: all 0.2s ease-in-out;
            }
        }
        #pages.active {
            transform: translateX(0%);
        }
        #burger.active {
            #line1 {
                transform: rotateZ(45deg) translate(10%, 300%);
            }
            #line2 {
                opacity: 0%;
            }
            #line3 {
                transform: rotateZ(-45deg) translate(10%, -300%);
            }
        }
    }
    /*
    .gallery {
        >li>div {
            padding: 8%;
            max-width: 87.5%;
            margin: 0px;
            margin-bottom: 6.25%;
            margin-inline-start: 25%;
        }
    }
    .play-holder {
        display: flex;
        justify-content: space-between;
        margin-inline: 30%;
        margin-left: 16%;
        margin-top: -24%;
        margin-bottom: 24%;
        .play-button {
            background-color: transparent;
            margin: 0px;
            padding: 0px;
        }
        .play {
            aspect-ratio: 1/1;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 200%;
        }
    }
    */
    .top {
        margin-top: 22.5%;
    }
    .cast {
        margin-inline: 6.25%;
        min-height: 25rem;
        flex: 1;
        gap: 5rem;
    }
    .cast-holder {
        margin-inline: 0px;
    }
    .glide__arrow {
        display: none;
    }
    .input-wall {
        flex-direction: column;
    }
    .panel.about {
        .button {
            margin-block: 6.25%;
        }
    }
}