@font-face {
    font-family: Zin;
    src: url(/assets/fonts/Zin.otf);
}

@font-face {
    font-family: Rubik;
    src: url(/assets/fonts/Rubik-VariableFont.ttf);
    font-style: normal;
}

@font-face {
    font-family: Rubik;
    src: url(/assets/fonts/Rubik-Italic-VariableFont.ttf);
    font-style: italic;
}

@mixin headings {
    font-family: -apple-system, BlinkMacSystemFont, Zin, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

@mixin text {
    font-family: -apple-system, BlinkMacSystemFont, Rubik, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: initial;
    font-size: 1.35rem;
    line-height: 2rem;
    @media screen and (max-width: 30rem) {
        font-size: 1rem;
        line-height: 1.6rem;
    }
}

@mixin shadow {
    box-shadow: 0px 2px 35px -15px rgba(0, 0, 0, 0.46);
    -webkit-box-shadow: 0px 2px 35px -15px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 2px 35px -15px rgba(0, 0, 0, 0.46);
}

@mixin radius {
    border-radius: $radius;
}

$red: rgb(238, 0, 0);
$deep: #800000;
$slate: #2b2b2b;
$radius: 3rem;
h1,
h2,
h3 {
    @include headings;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2.5rem;
}

html,
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    overflow-x: hidden;
}

article,
section {
    padding-inline: 12.5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: $red;
    padding-inline: 6.25%;
    padding-block: 6.125%;
    padding-top: 10%;
    color: white;
    background-size: cover;
    display: flex;
    justify-content: center;
}

p {
    @include text;
    text-indent: 12.5%;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-inline: 6.25%;
    background-color: white;
    width: 87.5%;
    height: 2.5%;
    #logo {
        max-width: 12.5rem;
        flex: 1;
    }
    #pages {
        a {
            padding-inline: 0.25rem;
            flex: 1;
            @include text;
        }
    }
}

.red {
    color: $red;
}

.card {
    @include shadow;
    @include radius();
    padding: 6.25%;
    display: flex;
    flex-wrap: wrap;
    div {
        flex: 1;
        padding: 2.5%;
        display: flex;
        justify-content: center;
    }
    #text {
        flex-direction: column;
    }
    #img {
        flex-direction: row;
        align-items: center;
    }
    img {
        @include radius();
        @include shadow;
        min-width: 15rem;
        width: 100%;
        max-width: 20rem;
    }
}

.gallery {
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    >div {
        h3,
        h4 {
            margin: 0px;
        }
        margin: 2.5%;
        padding: 5%;
        @include shadow();
        @include radius();
        aspect-ratio: 1/1;
        min-width: 10rem;
        max-width: 15rem;
        width: 33%;
        height: 33%;
        background-size: cover;
        flex: 1;
    }
}

.button {
    @include text;
    @include radius();
    @include shadow();
    background-color: $deep;
    color: white;
    padding: 1rem;
    padding-inline: 5rem;
    user-select: none;
    transition: all 0.1s;
    margin-block: 2rem;
}

.button:hover {
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.95);
}

.bg-holder#godtext {
    background-image: url(/assets/images/stock/GodText.jpg);
}

.bg-holder#sunsettree {
    background-image: url(/assets/images/stock/SunsetTree.jpg);
}

#home-header {
    background-image: url(/assets/images/bible-at-ocean.jpg);
}

@media screen and (max-width: 30rem) {
    h1 {
        font-size: 3.15rem;
        margin-block: 10%;
    }
    h2 {
        font-size: 2.75rem;
        margin-block: 7.5%;
    }
    h3 {
        font-size: 1.5rem;
        margin-block: 5%;
    }
    .button {
        padding-inline: 3rem;
    }
}